.teacherContainer,.studentContainer{
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C5C3C6;
  padding: 50px 0;
}

.studentContainer h1{
  text-align: center;
  font-size: 32px;
  margin: 50px 0;
  color: #1985A1;
}

.teacherContainer h1{
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #1985A1;
}

.teacherContainer form, .studentContainer form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teacherContainer form select , .studentContainer form select{
  content: "";
  margin: 20px 0;
  padding: 0 10px;
  width: 250px;
  height: 40px;
  background: url("../../public/icons/SelectArrowDown.svg") no-repeat scroll 215px 7px;
  background-color: #FFFCF2;
  border: none;
  border-radius: 10px;
  -webkit-appearance: none;
}

.teacherContainer form select:active, .studentContainer form select:active{
  background: url("../../public/icons/SelectArrowUp.svg") no-repeat scroll 215px 7px;
  background-color: #FFFCF2;
}

.studentContainer form select:nth-child(2){
  margin-bottom: 60px;
}

.teacherContainer form select:nth-child(4){
  margin-bottom: 60px;
}