.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4C5C68;
}

.container h3{
  font-size: 32px;
  margin: 30px 0;
}

.container .info{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 30px;
}

.container .info h3{
  text-align: left;
  margin: 15px 0;
  font-size: 26px;
}

.container .classInfo{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.container .classInfo .monthlyAttendedClasses{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .classInfo .monthlyClasses{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .classInfo .monthlyAttendedClasses h3, .container .classInfo .monthlyClasses h3{
  margin: 10px 0;
}

.container .progressBarContainer{
  height: 40px;
  width: 60%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container .progressBarContainer .background{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, .4);
  border-radius: 25px;
  overflow: hidden;
}

.container .progressBarContainer h3{
  position: absolute;
  z-index: 3;
  color: whitesmoke;
}

.container .generalInfo{
  width: 70%;
}

.container .generalInfo h3{
  font-size: 22px;
}
